.play-board{
  display: flex;
  /* border: 1px solid black */
}

/* .square {
  display: flex;
  height: 100px;
  width: 100px;
  justify-content: center;
  align-items: center;
} */

.square{
  display: flex;
  border: 1px solid black;
  background: transparent;
  height: 5rem;
  width: 5rem;
  justify-content: center;
  align-items: center;
}

.piece{
  border: 1px solid black;
  border-radius: 50%;
  background: red;
  height: 4.5rem;
  width: 4.5rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.message-box{
  border: 1px solid black;
  border-radius: 3%;
  /* max-height: 660px; */
  height: 330px;
  width: 350px;
  background-color: #ce9db5
  
}
.top-msg-box{
  position: sticky;
  display: flex;
  justify-content: center
}
.chats{
  max-height: 225px;
  overflow: auto;
  padding: 2%
}
.messages{
  border :1px solid blue;
  background:rgb(43, 155, 155);
  border-radius: 2%;
  height: auto;
  max-width: 150px;
  width: auto;
  padding: 2%
}
.message-sender{
  display: flex;
  justify-content: space-evenly;
  padding: 1%
  
}
.battlepage{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 40px
}
.start{
  display: flex;
  flex-direction: column

}
.start-page{
  display: flex;
  justify-content: center;
  font-size: 120px
}
.start-btn{
  border: 5px solid cadetblue;
  border-radius: 4%;
  width: fit-content;
  margin: auto;
  padding: 10px;
  background-color: #3dd3d7;
  font-family: Luminari;
}
.player-page{
  display: flex;
  flex-direction: column
}
.player-holder{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 15%
}
.player-name{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.player-font{
  font-family: Luminari
}

