.play-board {
  display: flex;
  /* border: 1px solid black */
}

/* .square {
  display: flex;
  height: 100px;
  width: 100px;
  justify-content: center;
  align-items: center;
} */

.square {
  display: flex;
  border: 1px solid black;
  background: transparent;
  height: 5rem;
  width: 5rem;
  justify-content: center;
  align-items: center;
}

.piece {
  border: 1px solid black;
  border-radius: 50%;
  background: red;
  height: 4.5rem;
  width: 4.5rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.message-box {
  border: 1px solid black;
  border-radius: 3%;
  height: 500px;
  width: 350px;
  overflow: auto;
}

.messages {
  border :1px solid blue;
  background:rgb(43, 155, 155);
  border-radius: 2%;
  height: auto;
  max-width: 150px;
  width: auto
}

.battlepage {
  display: flex;
  flex-direction: row
}


