.play-board {
  display: flex;
  /* border: 1px solid black */
}

/* .square {
  display: flex;
  height: 100px;
  width: 100px;
  justify-content: center;
  align-items: center;
} */

.square {
  border: 1px solid black;
  background: transparent;
  height: 5rem;
  width: 5rem;
}

.piece {
  border: 1px solid black;
  border-radius: 50%;
  background: red;
  height: 4.5rem;
  width: 4.5rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}